<!DOCTYPE html>
<html lang="en">

<head>

  <!-- wm -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comic Book Recommendations, Bub.</title>
  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Nunito+display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
  <link href="css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top" onload="brython(1)">

  <script type="text/python3">
    from browser import document, ajax, html
    import json
    import warnings

    def show_rec_results(response):
        if response.status==200 or response.status==0:
            rec_data = json.loads(response.text)
           
            #document["recommendations"].html = "Oh Well."
            #document["recommendations"].html = rec_data
            
            # Reset Results
            document["recommendations"].html = ""

            # All the elements will be inserted in the div with the "container" id
            reccy = document['recommendations']

            # We create a new div element
            newdiv = html.DIV(id = "new-div")
            # Now we add some style
            #newdiv.style = {"padding": "5px", 
            #              "backgroundColor": "#ADD8E6"}

            # Now, lets add a table with a column with numbers and a
            # column with a word on each cell

            table = html.TABLE()
            for com_title in rec_data:
                table <= html.TR(html.TD(com_title))
            # Now we add some style to the table
            #table.style = {"padding": "5px", 
            #              "backgroundColor": "#aaaaaa",
            #              "width": "100%"}
            # Now we add the table to the new div previously created
            newdiv <= table + html.BR()
            
            reccy <= newdiv
        else:
            warnings.warn(response.text)

    def get_recommendations(ev):
        """Get recommendations."""
        req = ajax.ajax()
        req.bind('complete', show_rec_results)
        req.open('POST', '/recommend', True)
        req.set_header('content-type','application/json')
        # data = json.dumps({'user_input': document['user_input'].value})
        data = json.dumps({'comic_input': document['comic_input'].value})
        # print(data)
        req.send(data) 
  
        
    document["recom_button"].bind("click", get_recommendations)   

  </script>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Comic Book Recommender</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Tell us what you are reading,<br> we'll tell you what you should!
        </h2>
        <a href="#projects" class="btn btn-primary js-scroll-trigger">Assemble Your Recommendations</a>
      </div>
    </div>
  </header>
  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container align-items-center">
      <!-- User Input - Comic 1 -->
      <h2>Select Your Favorite Comic!</h2>
      <select id="comic_input" name=comics_select method="GET" action="/">
        {% for title in titles %}
        <option value="{{title}}" SELECTED>{{title}}</option>
        {% endfor %}
      </select>
      <!--Recommendation Button-->
      <br><br>
      <div class="btn btn-primary center-block" button id="recom_button">Get Recommendations!</div>
      <div id="recommendations"></div>
      <br><br>

      <!--Cards for Recommendations?-->
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <h4 class="text-uppercase m-0">Comic Title 0</h4>
                <hr class="my-4">
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <h4 class="text-uppercase m-0">Comic Title 1</h4>
                <hr class="my-4">
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <!--Row of Results?-->
      <div class="row">
        {% for colour in colours %}


        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{colour}}</h5>
            <p class="card-text">REPLACE WITH IMAGE</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        {% endfor %}
      </div>


      <br><br><br>
    </div>
  </section>
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">
      <div class="social d-flex justify-content-center" style="font-size: 48px;">
        <a href="https://github.com/MangrobanGit" class="mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.linkedin.com/in/werlindo/" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Werlindo Mangrobang 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

  <!-- This is the part where I break my page -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>