<!DOCTYPE html>
<html lang="en">

<head>

  <!-- wm -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Comic Book Recommendations, Bub.</title>
  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>

  <!-- My Custom CSS -->

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu Condensed|Amatic+SC|Boogaloo|Hind|Luckiest+Guy|Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Boogaloo|Hind|Luckiest+Guy|Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Hind|Luckiest+Guy|Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind|Luckiest+Guy|Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+display=swap" rel="stylesheet"> -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
  <link href="css/grayscale.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">


</head>

<body id="page-top" onload="brython(1)">

  <script type="text/python3">
    from browser import document, ajax, html
    import json
    import warnings

    def show_recommendations(response):
        if response.status==200 or response.status==0:
            recs = json.loads(response.text)
            cards = '<div class="row">'
            for rec in recs:
              this_card = ( '<div class="col-md-4 mb-3 mb-md-0">' + 
                                            '<div class="card mx-auto" style="width: 18rem;">' +
                                              '<div class="card-body text-center">' +
                                                '<h4 class="text-uppercase m-0">' + str(rec['comic_title']) + '</h4>' + 
                                                '<img class="card-img-top" src="' + str(rec['img_url']) + '" alt="">' + 
                                                '<hr class="my-4"></div></div></div>'
                                        ) 
              cards = cards + this_card
            cards = cards + '</div>'
            document["recs"].html = cards
        else:
            warnings.warn(response.text)
        return recs

    def get_recommendations(ev):
        """Get recommendations."""
        req = ajax.ajax()
        req.bind('complete', show_recommendations)
        req.open('POST', '/recommend', True)
        req.set_header('content-type','application/json')
        data = json.dumps({'comic_input': document['comic_input'].value,
                           'comic_input_2': document['comic_input_2'].value,                                            
                           'comic_input_3': document['comic_input_3'].value,
                           'num_recs': document['num_recs'].value})                                             
        req.send(data) 

    document["recom_button"].bind("click", get_recommendations) 

  </script>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <div class="row text-white-50 align-items-center">
        
          <h1 class="mx-auto my-0 text-uppercase">Comics Rx</h1> 
          <!-- <i class="fas fa-prescription fa-7x"></i> -->
        </div>
        <h2 class="mx-auto my-0 text-white-50">Comic Book Recommender</h3>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">Tell us what you are reading,<br> we'll tell you what you should!
        </h3>
        <a href="#projects" class="btn btn-primary center-block js-scroll-trigger">
            <span style="font-size:larger;">Assemble Your Recommendations</span>
        </a>
      </div>
    </div>
  </header>  

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container align-items-center text-center">
      <!-- User Input - Comic 1 -->
      <h1>Select 3 of Your Favorite Comics!</h1>
      <br>
      <div class="row align-items-center">
        <div class="card mx-auto" style="width: 20rem;">
          <div class="card-body align-items-center">
              <!-- onchange="setImage(this);" -->
              <!-- onchange="document.getElementById('preview').src = this.options[this.selectedIndex].data-foo" -->
              <!-- onchange="document.getElementById('preview').src = this.foo" -->
            <select id="comic_input" name=comics_select method="GET" action="/" >
              {% for deet in com_deets %}
              <option value="{{deet[0]}}" data-comic_id = {{deet[0]}} data-url="{{deet[2]}}">{{deet[1]}}</option>
              {% endfor %}
            </select>
            <br><br>
            <img class="mx-auto d-block card-img-top" id="preview">
          </div>
        </div>
        <div class="card mx-auto" style="width: 20rem;">
          <div class="card-body align-items-center">
              <!-- onchange="setImage(this);" -->
              <!-- onchange="document.getElementById('preview').src = this.options[this.selectedIndex].data-foo" -->
              <!-- onchange="document.getElementById('preview').src = this.foo" -->
            <select id="comic_input_2" name=comics_select_2 method="GET" action="/" >
              {% for deet in com_deets %}
              <option value="{{deet[0]}}" data-comic_id = {{deet[0]}} data-url="{{deet[2]}}">{{deet[1]}}</option>
              {% endfor %}
            </select>
            <br><br>
            <img class="mx-auto d-block card-img-top" id="preview_2">
          </div>
        </div>
        <div class="card mx-auto" style="width: 20rem;">
          <div class="card-body align-items-center">
              <!-- onchange="setImage(this);" -->
              <!-- onchange="document.getElementById('preview').src = this.options[this.selectedIndex].data-foo" -->
              <!-- onchange="document.getElementById('preview').src = this.foo" -->
            <select id="comic_input_3" name=comics_select_3 method="GET" action="/" >
              {% for deet in com_deets %}
              <option value="{{deet[0]}}" data-comic_id = {{deet[0]}} data-url="{{deet[2]}}">{{deet[1]}}</option>
              {% endfor %}
            </select>
            <br><br>
            <img class="mx-auto d-block card-img-top" id="preview_3">
          </div>
        </div>
      </div>
      <!-- <p>The selected item is <span id="text"></span> with a value of <span id="value"></span> and url of <span id="url"></span> and an id of <span id="comic_id"></span>.</p> -->
      <br><br>
      <p>
        <label class="font-weight-bold"><b>Number of Recommendations (1-20):</b></label>
        <input type="range" id="num_recs" value="6" min="1" max="20" 
            oninput="document.getElementById('nrecs').innerHTML = this.value" />
        <label id="nrecs">6</label>
    </p>
      <br><br>

      <!--Recommendation Button-->
      <div class="btn btn-primary center-block" button id="recom_button"><span style="font-size:larger;">Get Recommendations!</span></div>
      <br><br>
      <div id="recs"></div>
      <br><br>
      <hr>
      <div class="mx-auto align-items-center">
        <a href = "mailto: werlindo.mangrobang@gmail.com">Let us know what you think!</a>
        <br><br>
        <h6>Presentation Slides</h6>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS3vqtPB1wcowBTLdUCLZIRRDgQ43W07WBh68F2DP01VCE6yVwlTivUTS0VqmYt0vIb8x9AFB9uKIy7/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <br><br>
        <a href = "https://www.youtube.com/watch?v=ZspR5PZemcs">More on Matrix Factorization (how this works)! (YouTube)</a>
      </div>
    </section>

  
  <p></p>
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container text-white-50 align-items-center">
        <h1 align="center"><b>Get In Touch!</b></h1>
        <div class="social d-flex justify-content-center text-white-50" style="font-size: 36px;">
          <a href="https://www.linkedin.com/in/werlindo/" class="mx-2">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/MangrobanGit" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://medium.com/@werlindo" class="mx-2">
          <i class="fab fa-medium"></i>
        </a>
        <a href="mailto:werlindo.mangrobang@gmail.com" class="mx-2">
          <i class="fa fa-envelope"></i>
        </a>
      </div>

    </div>

  </section>

  <!-- Footer -->
  <footer class="bg-black text-center text-white-50">
    <div class="container">
      Copyright &copy; Werlindo Mangrobang 2019
      <br><br><br><br>
      <div class="small text-white-50">
        Cover Photo by Lena Rose on Unsplash
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.js"></script>


  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

  <script src="js/comrx.js"></script>


  <!-- This is the part where I break my page -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>